<div class="m-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Marketcap</th>
        <th scope="col">24H (%)</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-coin [ngForOf]="coins" let-i="index">
        <tr class="item">
          <td class="align-middle">
            <ng-template [ngIf]="coin.market_cap_rank">
              {{ coin.market_cap_rank }}
            </ng-template>
          </td>

          <td class="align-middle">
            <ng-template [ngIf]="coin.image">
              <img src="{{ coin.image }}" width="30px" height="30px" />
            </ng-template>
          </td>

          <td class="align-middle">
            <ng-template [ngIf]="coin.name">
              <strong>{{ coin.name }}</strong>
            </ng-template>
          </td>

          <td class="align-middle price">
            <ng-template [ngIf]="coin.current_price">
              {{ coin.current_price | currency }}
            </ng-template>
          </td>

          <td class="align-middle market-cap">
            <ng-template [ngIf]="coin.market_cap">
              {{ coin.market_cap | currency }}
            </ng-template>
          </td>

          <td class="align-middle price_change_percentage_24h">
            <ng-template [ngIf]="coin.price_change_percentage_24h">
              <span
                class="text-success d-flex"
                *ngIf="
                  coin.price_change_percentage_24h / 100 >= 0;
                  else elseBlock
                "
              >
                <p>
                  {{
                    coin.price_change_percentage_24h / 100 | percent : "1.0-2"
                  }}
                </p>
                <mat-icon>arrow_upward</mat-icon>
              </span>
              <ng-template #elseBlock>
                <span class="text-danger d-flex">
                  <p>
                    {{
                      coin.price_change_percentage_24h / 100 | percent : "1.0-2"
                    }}
                  </p>
                  <mat-icon>arrow_downward</mat-icon>
                </span>
              </ng-template>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
